body {
	background-color: black;
    text-align: center;
}

h1 {
	font-family: Arial, sans-serif;
	margin-top: 0;
}

.collision-message {
	color: red;
}

.success-message {
	color: green;
}

.win-message {
	color: blue;
}